<!DOCTYPE html>
<html>
{% load staticfiles %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'cocktail_summit/style.css' %}" />
    <title>{% block title %}Title{% endblock %}</title>
</head>

<body>
    <div id="banner">
        <a class="logo" href="{% url 'homepage' %}">Patient Tracker</a>
            <div id="nav">
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'speakers' %}">Speakers</a></li>
                    <li><a href="{% url 'schedule' %}">Schedule</a></li>
                    <li><a href="{% url 'tickets' %}">Tickets</a></li>
                    <li><a href="{% url 'sponsors' %}">Sponsors</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                    <!--{% if user.is_authenticated %}
                        <li><a href="{% url 'logout' %}?next={{ request.path }}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}?next={{ request.path }}">Login</a></li>
                    {% endif %}-->
                </ul>
            </div>
    </div>
    <div class="container">
        <h1>{% block pagename %}Page name{% endblock %}</h1>
        
        {% block container %}{% endblock %}
    </div>
</body>
</html>