<!DOCTYPE html>
<html>
{% load staticfiles %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'cocktail_summit/style.css' %}" />
    <title>{% block title %}Title{% endblock %}</title>
</head>

<body>
    <div id="banner">
        <a class="logo" href="{% url 'homepage' %}">Cocktail Summit</a>
            <div id="nav">
                <ul>
                    <li><a href="{% url 'homepage' %}">Home</a></li>
                    <li><a href="{% url 'speakers' %}">Speakers</a></li>
                    <li><a href="{% url 'sponsors' %}">Sponsors</a></li>
                    <li><a href="{% url 'schedule' %}">Schedule</a></li>
                </ul>
            </div>
    </div>
    <div class="container">
        <h1>{% block pagename %}Page name{% endblock %}</h1>
        
        {% block container %}{% endblock %}
    </div>
</body>
</html>